footer {
    background-color: #00ff00;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
}

footer p {
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}