footer {
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px #cccccc solid;
}

footer p {
    text-align: center;
    position: absolute;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}