header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #cccccc solid;
}

header .logo {
    background: url('/holbertonschool-AirBnB_clone/web_static/images/logo.png') no-repeat;
    left: 20px;
    height: 100%;
}

