.container .filters {
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    position: absolute;
    font-size: 18px;
    background: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    top: 15%;
    right: 30px;
}

button:hover {
    opacity: 0.9;
}

.filters div {
    display: inline-grid;
}

.filters h2 {
    margin-left: -5%;
    margin-top: 10%;
    margin-bottom: 0;
    font-weight: 600;
}

.filters h3 {
    margin-left: 15%;
    margin-bottom: 0;
    font-weight: 600;
}

.filters h4 {
    margin-left: 15%;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}

.filters ul {
    margin-top: 5px;
}


.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
}

.popover {
    visibility: hidden;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FAFAFA;
    padding-bottom: 25px;
    z-index: 1;
}

.amenities .popover {
    padding: 20px 0;
    margin-left: -5px;
    margin-top: 0;
}

.amenities li {
    padding: 1px 0;
}

.locations .popover {
    margin-top: 0%;
}

.popover ul {
    list-style-type: none;
}

.popover li {
    list-style-type: none;
    margin-bottom: 5px;
}

.locations .popover li li {
    margin-left: -20%;
}

.amenities:hover .popover,
.locations:hover .popover {
    visibility: visible;
}