.places {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places > h1 {
    font-size: 30px;
    padding: 20px 20px 0;
    margin-bottom: 0;
    flex: 0 1 100%;
}

.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.places > article > h2 {
    font-size: 30px;
    margin: 0;
    align-self: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.price_by_night > p {
    margin: 0;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p{
    margin: auto 0;
}

.guest_image, .bed_image, .bath_image {
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.guest_image {
    background-image: url("/holbertonschool-AirBnB_clone/web_static/images/icon_group.png");
}

.bed_image {
    background-image: url("/holbertonschool-AirBnB_clone/web_static/images/icon_bed.png");
}

.bath_image {
    background-image: url("/holbertonschool-AirBnB_clone/web_static/images/icon_bath.png");
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0;
}

.description > p {
    margin-top: 7px;
    margin-bottom: 0;
}
